<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Калькулятор прибыльности карты</title>
  </head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#"></a>
                    </li>
                </ul>
            </nav>
        </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/cards">Параметры карт</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Расчет</a>
      </li>
    </ul>
  </div>
</nav>


      <table border="1" class="table">
      <thead>
        <tr>
          {% for k in All_Card_Params[0][:8] %}
          <th scope="row">{{ k }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for k in All_Card_Params[1:] %}
        <tr>
        <th scope="row">{{ k[0] }}</th>
        {% for n in k[1:8] %}
          <td scope="row">{{ n }}</td>
        {% endfor %}
        </tr>
        {% endfor %}
       </tbody>
    </table>

        <footer class="footer">
            <p>&copy; Калькулятор прибыльности карты</p>
        </footer>

    </div>
</body>

</html>