<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148051654-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148051654-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Подбор карты с кэшбэком</title>
  </head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#"></a>
                    </li>
                </ul>
            </nav>
        </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Подбор карты</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/cards">Список карт</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfVktzq1Z41uLAbNxYKT1s0eDA5ICFa95uBSWYSd25mQfydPQ/viewform">Обратная связь</a>
      </li>
    </ul>
  </div>
</nav>

  <form method="post" enctype=multipart/form-data>
    <table class="table">
      <thead>
      </thead>
      <tbody>
       <tr><th><a class="nav-link" href="https://docs.google.com/document/d/1_c5rZTGbzInjx2u7uCRoyw5V7WdTXiopQZNDddo_z6s">Как подготовить .csv файл</a></th></tr>
        <tr>
          <th scope="row">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="CardName">Загрузите .csv файл с покупками</label>
                <input required type="file" name="MccFile" accept=".csv">
               {% if Wrong_Ext is defined %}
               <p><font color="red">Недопустимый формат файла: {{ Wrong_Ext }}! Только .csv можно загрузить.</font></p>
               {% endif %}
               <div>
               <br>
               <input type="checkbox" name="enable_pens_cards" value="pens">Включая пенсионные карты</p>
               </div>
              </div>
              <div class="form-group col-md-6">
                  <div align="left" class="form-group col-md-6"><br>
                    <input type="submit" class="btn btn-primary btn-lg" value="Подобрать">
                  </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="StartDate">Дата первой покупки</label>
                <input required type="date" name="StartDate" class="form-control" id="StartDate" value="{{ Start_Date }}" placeholder="Стартовая дата">
              </div>
              <div class="form-group col-md-6">
               <label for="FinishDate">Дата последней покупки</label>
               <input required type="date" name="FinishDate" class="form-control" id="FinishDate" value="{{ Finish_Date }}" placeholder="Финишная дата">
              </div>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </form>
{% if Wrong_Elements is defined %}
      <h4 align="center"><p><font color="red">В списке покупок есть недопустимые элементы! Нужно исправить и загрузить файл снова.</font></p></h4>
      <table class="table">
      <tbody>
      <thead>
        <tr>
          <th scope="row">МСС</th>
          <th>Сумма покупки</th>
          <th>Номер строки</th>
        </tr>
      </thead>
      {% for e in Wrong_Elements %}
        <tr>
          <th scope="row">{{ e[0] }}</th>
          <td>{{ e[1] }}</td>
          <td>{{ e[2] }}</td>
        </tr>
      {% endfor %}
      <tbody>
      </table>
{% endif %}
{% if Recom_Cards is defined %}
      <h4 align="center">Рекомендованные карты</h4>
      <table class="table">
      <thead>
        <tr>
          <th scope="row">Название карты</th>
          <th>Суммарный кэшбэк по карте</th>
          <th>Кэшбэк в месяц</th>
          <th>Особенности</th>
        </tr>
      </thead>
      <tbody>
      {% for k in Recom_Cards %}
        <tr>
          <th scope="row">{{ k[1] }}</th>
          <td>{{ k[0] }} рублей</td>
          <td>{{ k[2] }} рублей</td>
          <td>
          {% if k[3] %}
          * {{ k[3] }}
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      <tbody>
      </table>
{% endif %}

{% if Cashback_Table is defined %}
      <script>function view(n) {
     style = document.getElementById(n).style;
     style.display = (style.display == 'block') ? 'none' : 'block';
     }</script>

      <a href="#hidden2" onclick="view('hidden2'); return false"><h4 align="center">Посмотреть таблицу покупок</h4></a>
      <div id="hidden2" style="display: none;">
      <table class="table">
      <thead>
        <tr>
          <th scope="row">Код MCC</th>
          <th>Сумма покупки</th>
          <th>Кэшбэк</th>
          <th>%</th>
          <th>Рекомендуемая карта</th>
        </tr>
      </thead>
      <tbody>
        {% for k in Cashback_Table %}
        <tr>
          <th scope="row">{{ k[0] }}</th>
          <td>{{ k[1] }} рублей</td>
          <td>{{ k[2] }} рублей</td>
          <td>{{ k[3] }} %</td>
          {% if k[4] is defined %}
          <td>
          {% for p in k[4].split(", ") %}
          {{ p }}<br>
          {% endfor %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
       </tbody>
    </table>
    </div>
{% endif %}
        <footer class="footer">
            <p>&copy; Подбор карты с кэшбэком</p>
        </footer>

    </div>
</body>

</html>