<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148051654-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148051654-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Калькулятор выгодности карты</title>
  </head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#"></a>
                    </li>
                </ul>
            </nav>
        </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Расчет</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/cards">Параметры карт</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfVktzq1Z41uLAbNxYKT1s0eDA5ICFa95uBSWYSd25mQfydPQ/viewform">Обратная связь</a>
      </li>
    </ul>
  </div>
</nav>

  <form method="post" enctype=multipart/form-data>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><h4 align="center">Параметры расчета</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="CardName">Загрузите файл с покупками</label><br>
                <input required type="file" name="MccFile"">
              </div>
              <div class="form-group col-md-6">
                <label for="CardName">Выберите карту</label>
                <select required class="custom-select" name="CardName">
                  {% for k in card_names %}
                  <option value="{{ k }}">{{ k }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="StartDate">Стартовая дата</label>
                <input required type="date" name="StartDate" class="form-control" id="StartDate" value="{{ Start_Date }}" placeholder="Стартовая дата">
              </div>
              <div class="form-group col-md-6">
               <label for="FinishDate">Финишная дата</label>
               <input required type="date" name="FinishDate" class="form-control" id="FinishDate" value="{{ Finish_Date }}" placeholder="Финишная дата">
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th scope="row">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="AdditionalCosts">Ежемесячная плата за дополнительные услуги (обслуживание, смс и т.п.)</label>
                  <input type="number" size="4" name="AdditionalCosts" min="0" max="1000" value="{{ Additional_Costs }}">
                </div>
                <div class="form-group col-md-6">
                  <input type="submit" class="btn btn-primary btn-lg" value="Посчитать">
                </div>
              </div>
          </th>
      </tbody>
    </table>
  </form>

{% if Spent_Monthly is defined %}
      <h4 align="center">Результаты расчета</h4>
      <table class="table">
      <thead>
        <tr>
          <th scope="row">Название карты</th>
          <td>{{ Card_Name }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Потрачено с кэшбэком</th>
          <td>{{ Spent_With_Cashback }} рублей</td>
        </tr>
        <tr>
          <th scope="row">Потрачено без кэшбэка(исключения)</th>
          <td>{{ Spent_No_Cashback }} рублей</td>
        </tr>
         <tr>
          <th scope="row">Потрачено в среднем за месяц</th>
          <td>{{ Spent_Monthly }} рублей</td>
        </tr>
        <tr>
          <th scope="row">Кэшбэк за все время</th>
          <td>{{ Cashback_Total }} рублей</td>
        </tr>
        <tr>
          <th scope="row">Кэшбэк за все время в повышенных категориях</th>
          <td>{{ Cashback_High_Mcc }} рублей</td>
        </tr>
        <tr>
          <th scope="row">Кэшбэк за все время в остальных категориях</th>
          <td>{{ Cashback_Default }} рублей</td>
        </tr>
        <tr>
          <th scope="row">Кэшбэк в среднем за месяц</th>
          <td>{{ Cashback_Monthly }} рублей</td>
        </tr>
        <tr>
          <th scope="row">Средний процент кэшбэка(для трат с кэшбэком)</th>
          <td>{{ Cashback_Average_Perc }} %</td>
        </tr>
        <tr>
          <th scope="row">Подсчет за период</th>
          <td>{{ Months_Count }} месяцев</td>
        </tr>
        <tr>
          <th scope="row">Средний общий доход в месяц</th>
          <td>{{ Total_Monthly_Income }} рублей</td>
        </tr>
        <tbody>
        </table>
{% endif %}
{% if Cashback_Table is defined %}
      <script>function view(n) {
     style = document.getElementById(n).style;
     style.display = (style.display == 'block') ? 'none' : 'block';
     }</script>

      <a href="#hidden2" onclick="view('hidden2'); return false"><h4 align="center">Посмотреть таблицу покупок</h4></a>
      <div id="hidden2" style="display: none;">
      <table class="table">
      <thead>
        <tr>
          <th scope="row">Код MCC</th>
          <th>Сумма покупки</th>
          <th>Кэшбэк</th>
          <th>%</th>
          {% if card_names[o] == "Подобрать карты" %}
          <td>Рекомендуемая карта</td>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for k in Cashback_Table %}
        <tr>
          <th scope="row">{{ k[0] }}</th>
          <td>{{ k[1] }} рублей</td>
          <td>{{ k[2] }} рублей</td>
          <td>{{ k[3] }} %</td>
          {% if k[4] is defined %}
          <td>{{ k[4] }}</td>
          {% endif %}
        </tr>
        {% endfor %}
       </tbody>
    </table>
    </div>
{% endif %}
        <footer class="footer">
            <p>&copy; Калькулятор выгодности карты</p>
        </footer>

    </div>
</body>

</html>